* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid var(--clr-gold); /* Add a distinct bottom border */
}

main,
.header {
  width: 100%; /* Ensure full width */
}

.full-img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image fills the width while maintaining aspect ratio */
  display: block;
}
@media (max-width: 768px) {
  .header {
    border-bottom: 3px solid var(--clr-gold); /* Thinner border on smaller screens */
  }
  main,
  .header {
    width: 100%;
  }
  .full-img {
    width: 100%; /* Full width */
    height: auto; /* Automatically adjusts height */
    object-fit: cover;
  }
}
